{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Login</title>
</head>
<body class="body">

    <div class="connexion">
        <div class="connexion_text">
            <img src="static//img/logo.png" alt="">
            <h1>Gestion de factures</h1>
            <img class="connexion_text_svg"src="static/img/business.svg" alt="">
        </div>
        <div class="connexion_form">
            <form method="post" class="connexion_form_signin">
                {% csrf_token %}
                <div class="signin">Sign In</div>
                <div class="signin_input">
                    {{ form.username }}
                    {{ form.password }}
                </div>
                {% if form.non_field_errors %}
                    <div class="message-error">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {% comment %} {% if messages %}
                    <div class="error-messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %} {% endcomment %}
                <button type="submit" class="signin_btn">Sign In</button>
            </form>
        </div>
    </div>
    <div class="fixe">
        <div class="copyright">&copy; UTurtle GestFacts - 2025</div>
    </div>
    
    
    
</body>
</html>