{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Login</title>
</head>
<body class="body">

    <div class="connexion">
        <div class="connexion_text">
            <img src="static/logo.png" alt="">
            <h1>Gestion de factures</h1>
            <img class="connexion_text_svg"src="static/business.svg" alt="">
        </div>
        <div class="connexion_form">
            <div class="signin">Sign In</div>
            <div class="signin_input">
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Password">
            </div>

            <a href="{% url "dashboard:dashboard" %}" class="signin_btn">Sign In</a>

        </div>
    </div>
    <div class="fixe">
        <div class="copyright">&copy; UTurtle GestFacts - 2025</div>
    </div>
    
    
    
</body>
</html>