{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

<div class="title">
    <H2>Dashboard</H2>
</div>

<section class="tableau">
    <div class="cards-container">
        <h3>Chiffre d'affaires</h3>
        <div class="dashboard-card">
            <div>Chiffre d'affaires : {{ formatted_total_facturation }}</div>
            {% comment %} <div>Chiffre d'affaires : {{ facturation.total_amount_ht }}</div> {% endcomment %}
        </div>
        <h3>Affaires en cours</h3>
        <h3>Factures en retard</h3>
    </div>


    

</section>


{% comment %} <script>
    document.addEventListener('DOMContentLoaded', function() {
        const clickableRows = document.querySelectorAll('.clickable-row');
        clickableRows.forEach(row => {
            row.addEventListener('click', function() {
                window.location = this.dataset.url;
            });
        });
    });
</script> {% endcomment %}


{% endblock content %}
