{% extends "base.html" %}

{% block title %}Dashboard Principal{% endblock title %}

{% block content %}

<div class="title">
    <H2>Dashboard Principal</H2>
</div>

<section class="tableau">
    <div class="cards-container">
        <h3>Chiffre d'affaires : {{ formatted_total_facturation }}</h3>
        <div class="dashboard-card">
            <div class="chart-container">
                <form method="GET" class="year-selector">
                    <label for="years">Sélectionner les années à comparer :</label>
                    <select name="years" multiple size="3" onchange="this.form.submit()">
                        {% for year in available_years %}
                            <option value="{{ year }}" {% if year in selected_years %}selected{% endif %}>
                                {{ year }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
                
                {% if cumulative_chart_path %}
                    <img src="{{ MEDIA_URL }}{{ cumulative_chart_path }}" alt="Graphique des chiffres d'affaires cumulés" class="revenue-chart">
                {% else %}
                    <p>Aucune donnée disponible pour générer le graphique.</p>
                {% endif %}
            </div>
        </div>

        <h3>Créances Totale : {{ total_factures_dues_cumule }}</h3>
        <h3>Factures en retard {{ current_year }} : {{ total_factures_retard }}</h3>
        <h3>Factures en retard {{ passed_year }} : {{ total_passed_factures_retard }}</h3>
        <div class="dashboard-card">
            <table class="custom-table-3col">
                <tbody>
                    {% if factures_retard_cumule %}
                        {% for facture in factures_retard_cumule %}
                        <tr class="clickable-row" data-url="{% url 'factures:detail' facture.id %}">
                            <td clospan="1">
                                {{ facture.invoice_number }}
                            </td>
                            <td clospan="1">{{ facture.client.entity_name }}</td>
                            <td clospan="1">{{ facture.formatted_amount_ttc }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}

                </tbody>
            </table>
        </div>
        <h3>Il y a {{ affaires_en_cours|length }} affaires en cour{% if affaires_en_cours|length != 1 %}s{% endif %} : {{ total_affaires_en_cours }} restant à facturer</h3>
        <div class="dashboard-card">
            <table class="custom-table-4col">
                <tbody>
                    {% if affaires_en_cours %}
                        {% for affaire in affaires_en_cours %}
                        <tr class="clickable-row" data-url="{% url 'affaires:detail' affaire.id %}">
                            <td clospan="1">{{ affaire.affaire_number }}</td>
                            <td clospan="1">{{ affaire.client.entity_name }}</td>
                            <td clospan="1">{{ affaire.formatted_reste_a_facturer }}</td>
                            <td clospan="1">{{ affaire.formatted_taux_avancement }}</td>
                        </tr>
                        {% endfor %}           
                    {% endif %}
                </tbody>
            </table>

        </div>
    </div>


    

</section>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const clickableRows = document.querySelectorAll('.clickable-row');
        clickableRows.forEach(row => {
            row.addEventListener('click', function() {
                window.location = this.dataset.url;
            });
        });
    });
</script>


{% endblock content %}
