{% extends "base_form.html" %}

{% block title %} {{ client.entity_name }} {% endblock title %}

{% block content %}


<div class="title">
    <H2>{{ client.entity_name }}</H2>
        <div class="form_btn_group">
            <a href="#" onclick="history.back(); return false;" class="form_btn">Retour</a>
            <a href="{% url 'clients:modifier' client.pk %}" class="form_btn">Modifier</a>
        </div>
</div>

<section class="tableau">
    <div class="card">
        <div class="card-body">
            <div class="">
                <div>
                    <div class="form_categories">
                        <div class="form-group">
                            <p class="form-label">Entité</p>
                            <p class="form-input">{{ client.entity_name }}</p>
                        </div>
                        
                        {% comment %} <div class="form-group">
                            <p class="form-label">Contact</p>
                            <p class="form-input">{{ client.contact }}</p>
                        </div> {% endcomment %}
                    </div>
                    
                    <div class="form-group">
                        <p class="form-label">Adresse</p>
                        <p class="form-input">{{ client.address }}</p>
                    </div>

                    <div class="form_categories">
                        <div class="form-group">
                            <p class="form-label">Code Postal</p>
                            <p class="form-input">{{ client.zip_code }}</p>
                        </div>
                        
                        <div class="form-group">
                            <p class="form-label">Ville</p>
                            <p class="form-input">{{ client.city }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        {% if  client.contact_principal %}
                            <p class="form-label">Contact Principal:</p>
                            <p class="form-label">{{ client.contact_principal }}</p>
                            <p class="form-label">Fonction : {{ client.contact_principal.fonction }}</p>
                            <p class="form-label">Email : {{ client.contact_principal.email }}</p>
                            <p class="form-label">Téléphone : {{ client.contact_principal.phone_number }}</p>
                        {% endif %}
                    </div>

                    {% for contact in client.contacts.all %}
                        {% if contact != client.contact_principal %}
                            <div class="form-label">Autres Contacts</div>
                            <div class="form-group">
                                    <p class="form-label">Contact : {{ contact }}</p>
                                    <p class="form-label">Fonction : {{ contact.fonction }}</p>
                                    <p class="form-label">Email : {{ contact.email }}</p>
                                    <p class="form-label">Téléphone : {{ contact.phone_number }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}                    
                    <p class="form-label">Affaires : {{ client.formatted_total_affaire_client }}</p>
                    <div class="form-area">
                        {% for affaire in client.affaires.all %}
                            <p data-url="{% url 'affaires:detail' affaire.pk %}" class="clickable-row">{{ affaire.affaire_number }} - {{ affaire.affaire_description }} - {{ affaire.formatted_budget }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    

</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const clickableRows = document.querySelectorAll('.clickable-row');
        clickableRows.forEach(row => {
            row.addEventListener('click', function(event) {
                // Empêche la redirection si on clique sur un lien dans les actions
                if (event.target.closest('.actions') || event.target.closest('a')) {
                    return;
                }
                window.location = this.dataset.url;
            });
        });
    });
</script>



{% endblock content %}