{% extends "base.html" %}

{% block title %}Contacts{% endblock title %}

{% block content %}

    <div class="title">
        <h2>Contacts ({{ contacts.paginator.count }})</h2>
        <div class="title_btn">
            <div class="new"><a href="{% url 'clients:create_contact' %}">+ Nouveau contact</a></div>
        </div>
    </div>

    <section class="tableau">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="th-div">
                            <span>NOM</span>
                        </div>
                    </th>
                    <th>
                        <div class="th-div">
                            <span>PRÉNOM</span>
                        </div>
                    </th>
                    <th>
                        <div class="th-div">
                            <span>CLIENT</span>
                        </div>
                    </th>
                    <th>
                        <div class="th-div">
                            <span>EMAIL</span>
                        </div>
                    </th>
                    <th>
                        <div class="th-div">
                            <span>TELEPHONE</span>
                        </div>
                    </th>
                </tr>
            </thead>

            {% if contacts %}
            <tbody>
                {% for contact in contacts %}
                <tr data-url="{% url 'clients:detail_contact' contact.pk %}" class="clickable-row">
                    <td clospan="1">
                        <div class="addresse">
                            <p>{{ contact.nom }}</p>
                        </div>
                    </td>
                    <td clospan="1">
                        <div class="addresse">
                            <p>{{ contact.prenom }}</p>
                        </div>
                    </td>
                    <td clospan="1">
                        <div class="addresse">
                            <p>{{ contact.affaire.client.entity_name }}</p>
                        </div>
                    </td>
                    <td clospan="1">
                        <div class="addresse">
                            <p>{{ contact.email }}</p>
                        </div>
                    </td>
                    <td clospan="1">
                        <div class="addresse">
                            <p>{{ contact.phone_number }}</p>
                        </div>
                    </td>
                    <td clospan="1">

                    </td>
                </tr>
                
                {% endfor %}
            </tbody>

            {% endif %}
        </table>
        <!-- Navigation de pagination -->
        <div class="pagination-container">
            
            <div class="pagination-nav">
                <!-- Bouton Précédent -->
                {% if contacts.has_previous %}
                <a href="?page=1" class="btn">«</a>
                {% endif %}
                
                <!-- Numéros de pages -->
                {% for num in contacts.paginator.page_range %}
                {% if contacts.number == num %}
                <span class="current-page">{{ num }}</span>
                {% else %}
                <a href="?page={{ num }}" class="btn">{{ num }}</a>
                {% endif %}
                {% endfor %}
                
                <!-- Bouton Suivant -->
                {% if contacts.has_next %}
                <a href="?page={{ contacts.paginator.num_pages }}" class="btn">»</a>
                {% endif %}
            </div>
            <div class="pagination-info">
                <p>
                    Page {{ contacts.number }} sur {{ contacts.paginator.num_pages }}
                </p>
            </div>
        </div>

    </section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const clickableRows = document.querySelectorAll('.clickable-row');
        clickableRows.forEach(row => {
            row.addEventListener('click', function() {
                window.location = this.dataset.url;
            });
        });
    });
</script>

{% endblock content%}