{% extends "base_form.html" %}

{% block title %} Nouvelle Facture {% endblock title %}

{% block content %}


<div class="title">
    <H2>Nouvelle Facture</H2>
</div>

<section class="tableau">
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="">
                    <div>
                        <div class="form_categories">
                            <div class="form-group">
                                <label class="form-label">{{ form.date.label }}</label>
                                {{ form.date }}
                            </div>
                            
                            <div class="form-group">
                                <label class="form-label">{{ form.invoice_number.label }}</label>
                                {{ form.invoice_number }}
                            </div>
                            <div class="form-group">
                                <label class="form-label">{{ form.type.label }}</label>
                                {{ form.type }}
                            </div>
                        </div>

                        <div class="form_categories">
                            <div class="form-group">
                                <label class="form-label">{{ form.client.label }}</label>
                                {{ form.client }}
                            </div>
                            <div class="form-group">
                                <label for="" class="form-label">{{ form.affaire.label }}</label>
                                {{ form.affaire }}
                            </div>
                        </div>
                        <div class="form_categories">
                            <div class="form-group">
                                <label class="form-label">{{ form.invoice_object.label }}</label>
                                {{ form.invoice_object }}
                            </div>
                        </div>
                        <div class="form_categories">
                            <div class="form-group">
                                <label class="form-label">{{ form.amount_ht.label }}</label>
                                {{ form.amount_ht }}
                            </div>
                            <div class="form-group">
                                <label class="form-label">{{ form.vat_rate.label }}</label>
                                {{ form.vat_rate }}
                            </div>
                        </div>
                        

                    </div>
                </div>
                
                
                <div class="form_btn_group">
                    <a href="{% url 'factures:factures' %}" class="supprimer">Annuler</a>
                    <button type="submit" class="form_btn">Créer la facture</button>
                </div>
            </form>
        </div>
    </div>


</section>





{% endblock content %}