{% extends "base_form.html" %}

{% block title %} Facture {{ facture.invoice_number }} {% endblock title %}

{% block content %}


<div class="title">
    <H2>Facture {{ facture.invoice_number }} - {{ facture.client.entity_name }}</H2>
    <div class="form_btn_group_H2">
        <a href="#" onclick="history.back(); return false;" class="form_btn">Retour</a>
        <a href="{% url 'factures:modifier' facture.pk %}" class="form_btn">Modifier</a>
    </div>
    
</div>

<section class="tableau">
    <div class="card">
        <div class="card-body">
            <div class="">
                <div>
                    <div class="form_categories">
                        <div class="form-group">
                            <p class="form-label">Date</p>
                            <p class="form-input">{{ facture.date }}</p>
                        </div>
                        <div class="form-group">
                            <p class="form-label">N° Facture</p>
                            <div style="display: flex; align-items: center; gap: 10px;">
                                <p class="form-input">{{ facture.invoice_number }}</p>
                                {% if facture.facture_pdf %}
                                <a class="svg" href="{% url 'factures:download_pdf' facture.pk %}" target="_blank" title="Voir la facture">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14 2H6C4.9 2 4 2.9 4 4V20C4 21.1 4.9 22 6 22H18C19.1 22 20 21.1 20 20V8L14 2Z" fill="#d44638" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
                                        <polyline points="14,2 14,8 20,8" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M16 13H8V15H16V13Z" fill="white"/>
                                        <path d="M16 17H8V19H16V17Z" fill="white"/>
                                        <path d="M10 9H8V11H10V9Z" fill="white"/>
                                    </svg>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        
                    </div>
                    <div class="form_categories">
                        <div class="form-group">
                            <p class="form-label">Client</p>
                            <p class="form-input">{{ facture.client.entity_name }}</p>
                        </div>
                        <div class="form-group">
                            <p class="form-label">N° Affaire</p>
                            <p class="form-input">{{ facture.affaire.affaire_number }}</p>
                        </div>
                    </div>
                    <div class="form_categories">
                        <div class="form-group">
                            <p class="form-label">Contact</p>
                            <p class="form-input">{{ facture.client.contact_principal }}</p>
                        </div>
                        <div class="form-group">
                            <p class="form-label">Auteur</p>
                            <p class="form-input">{{ facture.author|default:"Non défini" }}</p>
                        </div>
                    </div>


                    <div class="form_categories">
                        <div class="form-group">
                            <p class="form-label">Montant HT</p>
                            <p class="form-input">{{ facture.formatted_amount_ht }}</p>
                        </div>
                        <div class="form-group">
                            <p class="form-label">Taux TVA</p>
                            <p class="form-input">{{ facture.vat_rate }}</p>
                        </div>
                        <div class="form-group">
                            <p class="form-label">Montant TTC</p>
                            <p class="form-input">{{ facture.formatted_amount_ttc }}</p>
                        </div>
                    </div>

                    <div>
                        <p class="form-label">Déscription</p>
                        <p class="form-area">{{ facture.invoice_object }}</p>
                    </div>
                    <div>
                        <p class="form-label">Réglements</p>
                            <div class="form-area">
                                {% for reglement in facture.payments.all %}
                                    <p data-url="{% url 'factures:reglement_detail' reglement.pk %}" class="clickable-row">{{ reglement.payment_method}} le {{ reglement.date }} de {{ reglement.formatted_amount }}</p>
                                {% endfor %}
                            </div>
                    </div>

                </div>
            </div>
                     
        </div>
    </div>

    

</section>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const clickableRows = document.querySelectorAll('.clickable-row');
        clickableRows.forEach(row => {
            row.addEventListener('click', function(event) {
                // Empêche la redirection si on clique sur un lien dans les actions
                if (event.target.closest('.actions') || event.target.closest('a')) {
                    return;
                }
                window.location = this.dataset.url;
            });
        });
    });
</script>


{% endblock content %}