{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title>{% block title %}Dashboard{% endblock title %}</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo"><img src="{% static 'logo.png' %}" alt="Logo P2 Ingénierie"></div>
        <div class="menu">
            <div class="menu-item"><a href="{% url "dashboard:dashboard" %}">Dashboard</a></div>
            <div class="menu-item"><a href="{% url "clients:clients" %}">Clients</a></div>
            <div class="menu-item"><a href="{% url "clients:contacts" %}">Contacts</a></div>
            <div class="menu-item"><a href="{% url "factures:factures" %}">Factures</a></div>
            <div class="menu-item"><a href="{% url "affaires:affaires" %}">Affaires</a></div>
            <div class="menu-item"><a href="{% url "factures:reglements" %}">Règlements</a></div>

        </div>
        <div class="copyright"> &copy; UTurtle GestFacts &copy;</div>
    </div>
    <section class="main-container">
    <nav class="navbar">
        <div class="recherche" style="display:none">
            <input type="text" placeholder="Rechercher">
        </div>
    </nav>
        
    {% block content %}{% endblock content %}
    </section>
    

</body>
</html>